body{  
    background-image: url(../img/Galeria/7.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto 0;
}

.cabe{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid #FF2E63;
}

.cabe ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFE2E2;
    font-size: 38px;
}
.cabe img{
    width: 400px;
    float: left;margin-right: 50%;
    padding: 5px;
    margin-left: 5%;
}

.cabe ul li{
    float: left;
    border-right:solid #FF2E63;
    

    
}

.cabe ul li:last-child{
    border-right: none;

   
}

.cabe ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cabe ul li a:hover:not(.active){
    background-color: aqua;
}

.redes{
    margin: auto 0;
    width: 25%;
    height: 630px;
    color: rgb(0, 0, 0);
    border: solid #FF2E63;
    position: fixed;
    left: 69%;
    top: 200px;
    background-image: linear-gradient(to right, #f190b7ec, #b4ece367,#FFD365);
    border-radius: 3%;
    
}
 
.redes h1{
    text-align: center;
    font-size: 32px;
    text-shadow: 0 0 1px rgb(255, 255, 255);

}
.redes h2{
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 1px rgb(255, 255, 255);
}

.redes img{
    width: 65%;
    margin: auto;
    display: flex; 
}

.redes ul li{
    list-style-type: none;
    
}
.redes ul li img{
    width: 17%;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    float: left;
    margin-left: 6%;
}

.redes img{
    transition: all 300ms;
}

.redes ul li img:hover{
    transform: scale(1.30);
}


.centro h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
.centro{
    margin: 150px 100px 100px 100px;
    color: black;
    top: 10%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    height: 1700px;
    

}

.top1 table{
    margin: 0 auto;
    background-color: transparent;
    border-collapse: collapse; 
    border: solid 1px;
    width: 90%;
    margin-bottom: 200px;
    margin-left: 50px;
}

.img2{

    margin: 0 auto;
    float: right;
    margin-top: 30px;
    margin-right: 130px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));

}

.img2 img{
    transition: all 300ms;
}

.img2 img:hover{
    transform: scale(1.30);
}

.top1 tr td{
    text-align: center;
    font-size: large;
    border: solid 1px;  
}

.top1 a{
    text-decoration: none;
    color: black;
}


.top1{
    border-radius: 22px;
    border: solid #FF2E63;
    margin-bottom: 4%;
    width: 100%;
    height: 470px;

    background-image: linear-gradient(to right, #F190B7, #b4ece3a1,#ffd36583);  
}

.top1 img{
    width: 240px;
    padding: 5%;
    margin-right: 5%;
    float: left;
    border-radius: 100px;
}

.top1 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 2ch;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(146, 146, 146, 0.5),
             4px 4px 5px rgba(129, 129, 129, 0.7),
             0px 0px 7px rgba(139, 139, 139, 0.4);
    
}

.centro a:hover{
    color: rgb(255, 0, 0);
 }

 footer{
    padding: 1%;
    background-color:#FFE2E2;
    color: rgb(0, 0, 0);
    display: flex;
    margin-bottom: 0;
    bottom: 0;
    text-align: right;
    font-size: 20px;
    border-top: solid #FF2E63;
}







