body{
    margin: 0 auto; 
    background-image: url(../img/fondosSongs/fondoTGN.jpg);
    background-color: rgba(0, 0, 0, 0.849);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;     
}
  
  .atras img{
      margin: 0;
      width: 5%;
      position: fixed;
      filter: drop-shadow( 5px 3px 7px  rgb(0, 128, 255));
      
  }
  
  .atras img:hover{
      transform-style: 200ms;
      background-color: aqua;
      transform: scale(1.15);
  
  }
  
  .padre{
      margin: 0 auto;
      width: 100%;
      height: 100%;
      display: flex;
  }
  
  .imgC{
      width: 25%;
      height: 800px;
      margin-right: 100px;
  }
  
  
  .imgC img{
      width: 20%;
      position: fixed;
      top: 230px;
      left: 90px;
      border-radius: 20px;
      border: solid rgb(0, 255, 234) 5px;
  }
  
  .imgC h1{
      font-size: 39px;
      position: fixed;
      top: 630px;
      left: 100px;
      color: white;
      font-family:monospace;
      
  }
  .imgC h4{
      position: fixed;
      font-size: 20px;
      top: 690px;
      left: 100px;
      color: white;
      font-family:monospace;
  }
  
  
  
  footer{
      width: 100%;
      bottom: 50px;
      left: 100px;
      position: fixed;
  }
  audio{
      width: 90%;
      float: inline-end;  
  }
  
  .letra1{
      margin-top: 270px;
      font-size: 55px;
      color: rgb(255, 255, 255);
      width: 60%;
      height: 280px;   
      overflow: hidden;
      text-align: center;
      text-shadow:5px 3px 3px  rgb(41, 0, 155) ;
    
    }
    
    .movimiento1{
      transform: translateY(100%);   
      animation: my-animation 170s linear normal;
    }
    @keyframes my-animation {
      from {
        transform: translateY(22%);
      }
      to {
        transform: translateY(-100%);
      }
    }
  .letra2{
      margin-top: 270px;
      font-size: 55px;
      color: rgb(255, 255, 255);
      width: 60%;
      height: 280px;   
      overflow: hidden;
      text-align: center;
      text-shadow:5px 3px 3px  rgb(41, 0, 155) ;
    }
    
    .movimiento2{
      transform: translateY(100%);   
      animation: animation 210s linear normal;
    }
    @keyframes animation {
      from {
        transform: translateY(15%);
      }
      to {
        transform: translateY(-100%);
      }
    }